<div class="row">
  <div class="col-sm-12" *ngIf="!professorSelecionado">
    <app-titulo [titulo]="titulo"></app-titulo>
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">Visualizar</th>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Disciplina</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prof of professores">
          <td>
            <button (click)="professorSelect(prof)" class="btn btn-sm btn-warning">Visualizar</button>
          </td>
          <th scope="row">{{prof.id}}</th>
          <td>{{prof.nome}}</td>
          <td>{{prof.disciplina}}</td>
          <td>
            <div class="btn-group">
              <button (click)="openModal(template)" class="btn btn-sm btn-primary">Alunos</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-12" *ngIf="professorSelecionado">
    <div class="row">
      <div class="mr-auto mt-3">
        <app-titulo [titulo]="'Cód. Professor: ' + professorSelecionado.id"></app-titulo>
      </div>
    </div>
    <form [formGroup]="professorForm" (submit)="professorSubmit()">
      <div class="form-group">
        <label for="formGroupExampleInput">Nome</label>
        <input type="text" formControlName="nome" class="form-control col-6">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Disciplina</label>
        <input type="text" formControlName="disciplina" class="form-control col-6">
      </div>
      <div class="form-group">
        <button class="btn btn-sm btn-success" style="margin-right: 15px;"
          [disabled]="!professorForm.valid">Enviar</button>
        <button class="btn btn-sm btn-outline-danger" (click)="voltar()">Voltar</button>
      </div>
    </form>
  </div>
</div>

<ng-template #template>
  <div class="modal-body">
    <app-alunos></app-alunos>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn pull-right" style="width: 100%;" aria-label="Close" (click)="modalRef.hide()">
      Fechar
    </button>
  </div>
</ng-template>